@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

:root {
    --primary-color: #778DA9;
    --secondary-color: #778DA9;
    --accent1-color: #0D1B2A;
    --accent2-color: #4D6DA8;

    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #0D1B2A;
    --nav-link-color: #89A1BE;
    --nav-hover-link-color: #4D6DA8;
    --nav-hover-background-color: #E0E1DD;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    max-width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a img {
    max-width: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero div {
    position: relative;
}

article img {
    max-width: 400px;
}

h1, h2, h3, h4, div {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    left: 100px;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px;
}

footer p {
    color: var(--nav-link-color);
    margin-right: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

section h2 {
    flex-basis: 100%;
    text-align: center;
}

section img {
    flex: 1;
    max-width: 650px;
    max-height: 300px;
    margin-right: 5px;
    align-self: center;
}

.ninja_spacing div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.ninja_spacing h2 {
    margin-top: 10px; 
}

.ninja_spacing img {
    width: 200px; 
    height: auto; 
}

form {
    margin-top: 20px;
}

form h2 {
    text-align: center;
    color: var(--secondary-color);
}

form div {
    margin-bottom: 10px;
}

form label {
    color: var(--secondary-color);
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fix img {
    max-width: 500px;
}