@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    font-family: lato;
}

:root {
    --primary-color: #778DA9;
    --secondary-color: #778DA9;
    --accent1-color: #0D1B2A;
    --accent2-color: #4D6DA8;

    --heading-font: "lato", serif;
    --paragraph-font: "lato", serif;

    --nav-background-color: #0D1B2A;
    --nav-link-color: #89A1BE;
    --nav-hover-link-color: #4D6DA8;
    --nav-hover-background-color: #E0E1DD;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color:var(--nav-link-color)
}
nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
