* {
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
}

main {
    margin: 1rem;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
}

aside {
    margin: 1em;
    width: 30em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    position: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav {
    background-color: #e7e7e7;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #484761;
}

h1 {
    border-bottom: 1px solid black;
    text-align: center;
}

aside h2 {
    top: 255px;
    left: 225px;
}

main img {
    width: 150px;
    height: auto;
}

main p {
    max-width: 400px;
}

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #1c1c1c;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.74);
    padding: 1rem;
    background-color: #e7e7e7; /* 2 */
    color: #484761;
    max-width: 300px;
}

.box2 {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.74);
    padding: 1rem;
    background-color: #e7e7e7; /* 2 */
    color: #9190bb;
}

.float-image {
    float: right;
    margin-left: 1rem;
}
