main {
    max-width: 840px;
}

aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.74); /* 1 */
    padding: 0;
    background-color: #1c1c1c; /* 2 */
    color: #9190bb;
    text-align: center;
}
main img {
    width: 150px;
    height: auto;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #1c1c1c;
    text-align: center;
}